// ----------------------------------
// Modify in this file and then copy to the corresponding .css file
// ----------------------------------


// ----------------------------------------
// toc on sidebar
// ----------------------------------------
.toc-sidebar{
  .sticky-top{
    top: 1rem;
    border-left: 1px solid #ddd;
    background: #fff;
    div{
      padding: 3px 12px;
      font-size: 90%;
      font-weight: bold;
      color: #ad6834;
      margin-bottom: 5px;
      text-transform: uppercase;
      &::after{
        content: '';
        display: block;
        height: 1px;
        width: 40%;
        margin: 7px 0 4px;
        background: #dbdbdb;
        clear: both;
      }
    }
    ul.navbar-nav{
      max-height: 500px;
      overflow-y: auto;
      display: block;
    }
  }
  @media (max-width: 1199px){
    display: none;
  }
  @media (min-width: 1200px){
    width: 200px;
    margin-right: -220px;
    margin-left: 20px;
  }
  @media (min-width: 1360px){
    width: 230px;
    margin-right: -300px;
    margin-left: 70px;
  }
  @media (min-width: 1400px){
    width: 250px;
    margin-right: -320px;
  }
  @media (min-width: 1500px){
    width: 300px;
    margin-right: -370px;
  }
}



// ----------------------------------------
// Series
// ----------------------------------------
.series-sidebar{
  @media (max-width: 1199px){
    display: none;
  }
  @media (min-width: 1200px){
    margin-left: -220px;
    width: 200px;
    margin-right: 20px;
  }
  @media (min-width: 1360px){
    width: 230px;
    margin-left: -300px;
    margin-right: 70px;
  }
  @media (min-width: 1400px){
    width: 250px;
    margin-left: -320px;
  }
  @media (min-width: 1500px){
    width: 300px;
    margin-left: -370px;
  }
}

.seriesbox{
  float: left;
  font: inherit;
  border: none;
  padding: 15px;
  text-align: right;
  font-family: 'Comfortaa', cursive;
  background: #f3f3f3;
  border-radius: 5px;
  .series-title{
    padding-bottom: 3px;
    font-size: 13px;
    font-weight: bold;
    color: #ad6834;
    margin-bottom: 5px;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
  }
  .serieslist-ul{
    font-size: 13px;
    margin-bottom: 0!important;
    padding: 5px 0;
    .serieslist-li-current{
      font-weight: bold;
      color: #333;
    }
    .serieslist-li a{
      color: #666;
      &:hover{
        color: #c7164c;
      }
    }
  }
  &.sticky-top{
    top: 1rem;
  }
}

.blog-content{
  h2{
    &:before{
      @media (min-width: 1200px) and (max-width: 1359px){
        margin-left: 0!important;
      }
    }
  }
  h3{
    &:before{
      @media (min-width: 1200px) and (max-width: 1359px){
        margin-left: 0!important;
      }
    }
  }
}


// ----------------------------------------
// image alignment
// ----------------------------------------

// media-text
// ----------------------------------------
.wp-block-media-text, .wp-block-columns{
  &.alignwide{
    @media (min-width: 768px) and (max-width: 991px){
      margin-left: calc(-100vw / 2 + 720px / 2);
      margin-right: calc(-100vw / 2 + 720px / 2);
    }
  }
}


// wider than the content
.alignwide{
  @media (min-width: 992px) and (max-width: 1199px){
    margin-left: -50px;
    margin-right: -50px;
    position: relative;
  }
  @media (min-width: 1360px){
    margin-left: -50px;
    margin-right: -50px;
    position: relative;
  }
}

// table
.wp-block-table.alignwide{
  @media (min-width: 1360px){
    width: calc(100% + 100px)
  }
}

// left / right
.alignright, .alignleft{
  width: 45%;
}

.alignright{
  @media (min-width: 1360px) {
    margin-right: -50px!important;
  }
}

.alignleft{
  @media (min-width: 1360px) {
    margin-left: -50px!important;
  }
}
