.toc-sidebar .sticky-top {
  top: 1rem;
  border-left: 1px solid #ddd;
  background: #fff; }
  .toc-sidebar .sticky-top div {
    padding: 3px 12px;
    font-size: 90%;
    font-weight: bold;
    color: #ad6834;
    margin-bottom: 5px;
    text-transform: uppercase; }
    .toc-sidebar .sticky-top div::after {
      content: '';
      display: block;
      height: 1px;
      width: 40%;
      margin: 7px 0 4px;
      background: #dbdbdb;
      clear: both; }
  .toc-sidebar .sticky-top ul.navbar-nav {
    max-height: 500px;
    overflow-y: auto;
    display: block; }
@media (max-width: 1199px) {
  .toc-sidebar {
    display: none; } }
@media (min-width: 1200px) {
  .toc-sidebar {
    width: 200px;
    margin-right: -220px;
    margin-left: 20px; } }
@media (min-width: 1360px) {
  .toc-sidebar {
    width: 230px;
    margin-right: -300px;
    margin-left: 70px; } }
@media (min-width: 1400px) {
  .toc-sidebar {
    width: 250px;
    margin-right: -320px; } }
@media (min-width: 1500px) {
  .toc-sidebar {
    width: 300px;
    margin-right: -370px; } }

@media (max-width: 1199px) {
  .series-sidebar {
    display: none; } }
@media (min-width: 1200px) {
  .series-sidebar {
    margin-left: -220px;
    width: 200px;
    margin-right: 20px; } }
@media (min-width: 1360px) {
  .series-sidebar {
    width: 230px;
    margin-left: -300px;
    margin-right: 70px; } }
@media (min-width: 1400px) {
  .series-sidebar {
    width: 250px;
    margin-left: -320px; } }
@media (min-width: 1500px) {
  .series-sidebar {
    width: 300px;
    margin-left: -370px; } }

.seriesbox {
  float: left;
  font: inherit;
  border: none;
  padding: 0 15px 15px 15px;
  text-align: right;
  font-family: 'Comfortaa', cursive;
  background: none;
  border-right: 1px solid #ddd; }
  .seriesbox .series-title {
    padding-bottom: 3px;
    font-size: 13px;
    font-weight: bold;
    color: #ad6834;
    margin-bottom: 5px;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd; }
  .seriesbox .serieslist-ul {
    font-size: 13px;
    margin-bottom: 0 !important;
    padding: 5px 0; }
    .seriesbox .serieslist-ul .serieslist-li-current a {
      font-weight: bold;
      color: #333 !important; }
    .seriesbox .serieslist-ul li {
      margin-bottom: 5px; }
      .seriesbox .serieslist-ul li:last-of-type {
        margin-bottom: 0; }
      .seriesbox .serieslist-ul li a {
        color: #767676; }
        .seriesbox .serieslist-ul li a:hover {
          color: #c7164c;
          text-decoration: none; }
  .seriesbox.sticky-top {
    top: 1rem; }

.series-bar {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #ddd;
  font-size: 95%;
  opacity: 0.7;
  font-style: italic;
  padding: 5px 0; }
  @media (min-width: 1200px) {
    .series-bar {
      display: none; } }

@media (min-width: 1200px) and (max-width: 1359px) {
  .blog-content h2:before {
    margin-left: 0 !important; } }
@media (min-width: 1200px) and (max-width: 1359px) {
  .blog-content h3:before {
    margin-left: 0 !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .wp-block-media-text.alignwide, .wp-block-columns.alignwide {
    margin-left: calc(-100vw / 2 + 720px / 2);
    margin-right: calc(-100vw / 2 + 720px / 2); } }

@media (min-width: 992px) and (max-width: 1199px) {
  .alignwide {
    margin-left: -50px;
    margin-right: -50px;
    position: relative; } }
@media (min-width: 1360px) {
  .alignwide {
    margin-left: -50px;
    margin-right: -50px;
    position: relative; } }

@media (min-width: 1360px) {
  .wp-block-table.alignwide {
    width: calc(100% + 100px); } }

.alignright, .alignleft {
  width: 45%; }

@media (min-width: 1360px) {
  .alignright {
    margin-right: -50px !important; } }

@media (min-width: 1360px) {
  .alignleft {
    margin-left: -50px !important; } }

/*# sourceMappingURL=has_sidebar.css.map */
