// ----------------------------------
// Modify in this file and then copy to the corresponding .css file
// ----------------------------------


// ----------------------------------------
// toc on sidebar
// ----------------------------------------
.toc-sidebar{
  width: 220px;
  margin-right: -220px;
  .sticky-top{
    top: 1rem;
    border-left: 1px solid #ddd;
    background: #fff;
    div{
      padding: 3px 12px;
      font-size: 14px;
      font-weight: bold;
      color: #ad6834;
      margin-bottom: 5px;
      text-transform: uppercase;
      &::after{
        content: '';
        display: block;
        height: 1px;
        width: 40%;
        margin: 7px 0 4px;
        background: #dbdbdb;
        clear: both;
      }
    }
  }
  @media (max-width: 1199px){
    display: none;
  }
  @media (min-width: 1260px){
    width: 250px;
    margin-right: -250px;
  }
  @media (min-width: 1360px){
    margin-right: -300px;
  }
  @media (min-width: 1400px){
    margin-right: -320px;
  }
  @media (min-width: 1600px){
    width: 300px;
    margin-right: -370px;
  }
}

article{
  @media (min-width: 1360px){
    .blog-content{
      margin-right: 50px;
    }
  }
  @media (min-width: 1400px){
    .blog-content{
      margin-right: 70px;
    }
  }
}


// ----------------------------------------
// image alignment
// ----------------------------------------

// gallery
.wp-block-gallery{
  margin-top: 2.5rem;
  margin-bottom: calc(2.5rem - 16px);
}


// media-text
// ----------------------------------------
.wp-block-media-text{

}

.has-media-on-the-right .wp-block-media-text__content{
  
}

// full width of the screen
.alignfull{
  @media (min-width: 1200px){
    width: 100%;
  }
}


// wider than the content
.alignwide{
  @media (min-width: 992px) and (max-width: 1199px){
    margin-left: -50px;
    margin-right: -50px;
    position: relative;
  }
  @media (min-width: 1360px){
    margin-left: -50px;
    margin-right: -50px;
    position: relative;
  }
}

// full width of the content or the figure
.aligncenter{
  img{
    width: 100%;
  }
}

// left / right
.alignright, .alignleft{
  width: 45%;
  margin-bottom: 0;
  img{
    width: 100%;
  }
  @media (max-width: 767px) {
    float: unset;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

.alignright{
  @media (min-width: 1360px) {
    margin-right: -50px!important;
  }
}

.alignleft{
  @media (min-width: 1360px) {
    margin-left: -50px!important;
  }
}