// alignwide
// ----------------------------------------
.alignwide{
  @media (min-width: 1200px){
    margin-left: -150px;
    margin-right: -150px;
    position: relative;
  }
  // full width in smaller devices
  @media (min-width: 992px) and (max-width: 1199px){
    margin-left: calc(-100vw / 2 + 800px / 2 - 15px);
    margin-right: calc(-100vw / 2 + 800px / 2 - 15px);
  }
}

// table
// ----------------------------------------
.wp-block-table.alignwide{
  @media (min-width: 1200px){
    width: calc(100% + 300px)
  }
  @media (min-width: 992px) and (max-width: 1199px){
    margin-left: -50px;
    margin-right: -50px;
  }
}


// left / right 
// ----------------------------------------
.alignright, .alignleft{
  @media (min-width: 1200px){
    width: 55%;
  }
}
.alignright{
  @media (min-width: 1200px) {
    margin-right: -150px!important;
  }
}

.alignleft{
  @media (min-width: 1200px) {
    margin-left: -150px!important;
  }
}

// gallery
.wp-block-gallery{
  @media (min-width: 1200px){
    margin-left: -150px;
    margin-right: -150px;
  }
}

// media-text
// ----------------------------------------
.wp-block-media-text, .wp-block-columns{
  &.alignwide{
    @media (min-width: 992px) and (max-width: 1199px){
      margin-left: calc(-100vw / 2 + 800px / 2);
      margin-right: calc(-100vw / 2 + 800px / 2);
    }
    @media (min-width: 768px) and (max-width: 991px){
      margin-left: calc(-100vw / 2 + 720px / 2);
      margin-right: calc(-100vw / 2 + 720px / 2);
    }
    @media (min-width: 576px) and (max-width: 767px){
      margin-left: calc(-100vw / 2 + 540px / 2);
      margin-right: calc(-100vw / 2 + 540px / 2);
    }
  }
}