
.icon-math2it:before { content: '\e800'; } /* '' */
.icon-pi-outline:before { content: '\e801'; } /* '' */
.icon-cog-alt:before { content: '\e802'; } /* '' */
.icon-tex:before { content: '\e803'; } /* '' */
.icon-home:before { content: '\e804'; } /* '' */
.icon-graduation-cap:before { content: '\e805'; } /* '' */
.icon-database-1:before { content: '\e806'; } /* '' */
.icon-ai:before { content: '\e807'; } /* '' */
.icon-search:before { content: '\e808'; } /* '' */
.icon-mail:before { content: '\e809'; } /* '' */
.icon-heart:before { content: '\e80a'; } /* '' */
.icon-heart-empty:before { content: '\e80b'; } /* '' */
.icon-ml:before { content: '\e80c'; } /* '' */
.icon-book-open:before { content: '\e80d'; } /* '' */
.icon-group:before { content: '\e80e'; } /* '' */
.icon-group-circled:before { content: '\e80f'; } /* '' */
.icon-tex2:before { content: '\e810'; } /* '' */
.icon-clock:before { content: '\e811'; } /* '' */
.icon-user:before { content: '\e812'; } /* '' */
.icon-user-outline:before { content: '\e813'; } /* '' */
.icon-star-circled:before { content: '\e814'; } /* '' */
.icon-star:before { content: '\e815'; } /* '' */
.icon-star-filled:before { content: '\e816'; } /* '' */
.icon-star-half:before { content: '\e817'; } /* '' */
.icon-star-1:before { content: '\e818'; } /* '' */
.icon-star-empty:before { content: '\e819'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-language:before { content: '\f1ab'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */