.div-404{
  padding: 2rem 0;
  color: #fff;
  .icon-404{
    font-family: 'Righteous', cursive;
    margin: 0 auto;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    .icon-math2it{
      font-size: 5rem;
      color: #f15f5f;
      margin-left: -1.5rem;
      margin-right: -1.5rem;
      vertical-align: middle;
      display: inline-block;
      transition: transform .4s;
    }
    &:hover{
      .icon-math2it{
        transform: rotate(-14deg);
      }
    }
    @media (max-width: 350px){
      font-size: 5rem;
      .icon-math2it{
        font-size: 7rem;
      }
    }
  }
  .title-404{
    color: #fdfb82;
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
  }
  p{
    font-size: 1rem;
    margin-top: 1rem;
    text-align: center;
    strong{
      color: #77ff4e;
    }
  }
}
