.ab-block-accordion{
  margin-bottom: $margin-post-size_bottom;
  border: 1px solid #ddd;
  .ab-accordion-title{
    padding: 10px;
  }
  .ab-accordion-text{
    padding: 1rem;
    a{
      -webkit-box-shadow: none;
      box-shadow: none;
      color: #236eb1;
      &:hover{
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #c7164c;
      }
    }
    p{
      font-size: $font-post!important;
    }
  }
}

.ab-notice-text p, .ab-notice-title p{
  font-size: $font-post!important;
  a{
    color: $a-color!important;
    text-decoration: none!important;
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
    &:hover{
      color: $a-hover!important;
      text-decoration: none!important;
    }
  }
}

.ab-block-accordion + .ab-block-accordion{
  margin-top: 1.5rem;
}
