.sec-choice-cat{
  background: #fffef1;
  padding: 2rem 0 1.5rem 0;
  .new-title{
    color: #e4a200;
  }
}

.cat-intro{
  .intro{
    h1.title{
      color: #fff;
      font-size: 2.2rem;
      text-shadow: 2px 2px 4px #000;
      font-weight: bold;
      text-transform: lowercase;
      letter-spacing: 5px;
      @media (max-width: 575px){
        font-size: 2rem;
      }
    }
    .img-avatar{
      i{
        padding: 5px 0;
      }
    }
    p{
      color: #fff;
    }

    .idx-social{
      span{
        text-shadow: 2px 2px 4px #000;
      }
    }
    .description{
      color: #fff;
    }
  } // intro
}

.all-posts{
  padding: 2.5rem 0;
  .paginate-links{
    margin-top: 2rem;
  }
}
