body {
  font-family: 'Comfortaa', cursive;
  color: #333;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-weight: normal;
  color: #333;
}

.tgreen{
  color: #5eeda3;
}

kbd{
  background-color: #f7f7f7;
  border: 1px solid rgba(0,0,0,.3);
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0,0,0,.2), inset 0 0 0 2px #fff;
  color: #333;
  display: inline-block;
  margin: 0 .1em;
  padding: .1em .5em 0;
  text-shadow: 0 1px 0 #fff;
  font-weight: 400;
  line-height: 1.4;
  font-size: 80%;
}

.mark, mark{
  background-color: #fff6b3;
  padding: .1em .2em;
}

.post-font{
  font-family: 'Nunito', sans-serif;
  font-size: 1.15rem;
  .has-small-font-size{
    font-size: 1rem;
  }
}

bbt{
  font-size: 2rem;
  color: #2382ab;
  &:after{
    content: ".";
  }
}

tpink{
  color: #d83173;
}

tgreen{
  color: #228237;
}