body {
  font-family: 'Comfortaa', cursive;
  color: #454545;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-weight: normal;
  color: #333;
}

.tgreen{
  color: #5eeda3;
}

