.footer{
  background: #272a34;
  padding: 25px 15px;
  color: #ddd;
  text-align: center;
  position: relative;
  font-size: 0.93rem;
  @media (max-width: 767px){
    padding: 30px 15px;
  }
  a{
    color: #ddd;
    text-decoration: none;
    &:hover{
      color: #fff;
    }
  }
  p:last-child {
    margin-bottom: 0;
  }
}


// back to top
#up-arrow{
  display: block;
  z-index: 8;
  cursor: pointer;
  width: 42px;
  height: 42px;
  border-radius: 30px;
  position: absolute;
  right: 80px;
  top: -16px;
  overflow: hidden;
  background: #272a34;
  transition: all 200ms ease-out;
  @media (max-width: 767px){
    right: 50%;
    margin-right: -26px;
    i{
      color: #eee;
    }
  }
  i{
    color: #ddd;
    font-size: 1.8rem;
  }
  &:hover{
    padding-top: 5px;
    i{
      color: #fff;
    }
  }
}
