.bg-black{
  background: linear-gradient(to bottom right,#111217,#484d60);
}

.bg-cat-2703{
  // only for tag template
  background: #67B26F;  /* fallback for old browsers */
  background-image: linear-gradient( 355.3deg,  rgba(255,0,132,1) -66.6%, rgba(51,0,27,1) 96.6% );
}

.header-intro{
  .intro{
    color: hsla(0,0%,100%,.8);
    border-radius: 0 0 1rem 1rem;
    padding: 0 1rem 1rem 1rem;
    text-align: center;
    h1{
      color: #fff;
      font-weight: 600;
    }
    .subtitle{
      color: #5eeda3;
      font-size: 1.1rem;
      font-weight: 700;
    }
    p.description{
      margin-top: 1rem;
      color: #fff;
    }
    @media (max-width: 450px){
      h4{
        font-size: 1.2rem;
      }
    }

    .title{
      margin-bottom: 1rem;
    }
    .description{
      margin: 0;
      font-size: 0.9rem;
    }
  }
  &:hover{
    .icon-math2it{
      transform: rotate(-14deg);
    }
  }
}
.img-avatar{
  font-family: 'Righteous', cursive;
  margin: 0 auto;
  font-size: 2.5rem;
  font-weight: 800;
  color: #fff;
  text-align: center;
  .icon-math2it{
    font-size: 5rem;
    color: #f15f5f;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    vertical-align: middle;
    display: inline-block;
    transition: transform .4s;
  }
  @media (max-width: 767px){
    font-size: 3rem;
    .icon-math2it{
      font-size: 5rem;
      margin-left: -0.5rem;
      margin-right: -0.5rem;
    }
  }
  h1{
    display: none;
  }
}


.idx-social{
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center;
  a{
    color: #fffaad;
    span{
      text-shadow: 2px 2px 4px #000;
    }
    &:hover{
      text-decoration: none;
      color: #ffe066;
      .icon-home{
        color: inherit;
      }
    }
  }

  .mr-s{
    margin-right: 1.5rem;
    @media screen and (max-width: 400px){
      margin-right: 0.5rem;
    }
    &:last-of-type{
      margin-right: 0;
    }
  }

  @media (max-width: 575px){
    font-size: 2rem;
  }
}


// newest list
.latest-top{
  border-bottom: 0.5px #969494 solid;
  padding-bottom: 5px;
  margin-bottom: 1rem!important;
  .new-title{
    font-weight: bold;
    font-size: 1.1rem;
    color: #fff;
  }
  a{
    font-size: 0.9rem;
    color: #a1a7b9;
    line-height: 2;
    &:hover{
      color: #fff;
    }
  }
  .view-all{
    color: #eee!important;
    font-size: 0.85rem!important;
  }
}
.newest-list{
  a{
    text-decoration: none;
    .new-item{
      display: flex;
      flex-wrap: wrap;
      margin-top: 0.5rem;

      @media (max-width: 767px){
        padding: 0 1rem;
      }

      .cat-icon{
        width: 3rem;
        color: #ddd;
        font-size: 1.7rem;
      }
      .new-post{
        width: calc(100% - 3rem);
        .post-date{
          font-size: 0.75rem;
          color:#ccc;
          margin-bottom: 0.2rem;
        }
        .post-title{
          font-size: 0.95rem;
          font-weight: 600;
          color: #fff;
          line-height: 1.4;
        }
      }
    }
    &:hover{
      .post-title{
        color: #ffeead!important;
      }
    }
  }
}


// only for books
.header-book{
  .book-cover{
    max-width: 150px;
    margin: 0 auto;
    @media screen and (max-width: 768px){
      margin-bottom: 2rem;
    }
    @media (max-width: 450px){
      max-width: 120px;
    }
    img{
      height: 100%;
      width: 100%;
      border: 1px solid #aaa;
      box-shadow: 0 12px 8px -8px black;
    }
  }
}
