// IMPORTANCE: This file contains only a general setting for images in posts/page template. For the one who has or has not toc on the sidebar, refer to has_sidebar.scss and hasno_sidebar.scss.


// block-iamge
// ----------------------------------------
.wp-block-image{
  margin-bottom: $margin-post-size_bottom + 0.5rem;
  margin-top: $margin-post-size_bottom;
  img{
    max-width: unset!important;
    width: 100%;
    height: 100%;
  }
  figure{
    margin-top: 0.3rem;
  }
  figcaption{
    color: #778899!important;
  }
}
figcaption{
  font-size: 0.9rem!important;
  padding: 0 15px;
}


// gallery
// ----------------------------------------

.wp-block-gallery{
  @media (min-width: 1360px){
    margin-left: -50px;
    margin-right: -50px;
  }
  figcaption{
    color: #fff!important;
  }
}


// media-text
// ----------------------------------------

.wp-block-media-text{
  margin: 0;
  @media (min-width: 768px){
    margin: 3rem 0;
  }
  @media (max-width: 767px){
    display: inherit!important;
    margin-bottom: $margin-post-size_bottom;
  }
  &.alignwide{
    @media (max-width: 767px){
      margin-left: 0;
      margin-right: 0;
    }
  }
  .wp-block-media-text__media{
    width: 100%;
    padding: 0 15px;
    @media (max-width: 767px){
      padding-bottom: 0;
      margin-bottom: $margin-post-size_bottom;
    }
  }
  .wp-block-media-text__content{
    padding: 0 1.5rem;
    margin-right: 0;
    .has-large-font-size{
      font-size: 1rem;
    }
    p{
      &:first-of-type{
        margin-top: 0;
      }
      &:last-of-type{
        margin-bottom: 0;
      }
      &+ul{
        margin-top: 2rem;
      }
    }
  }

  grid-template-columns: 40% auto;
  &.has-media-on-the-right{
    grid-template-columns: auto 40%;
  }
}
.alignwide.has-media-on-the-right{
  img{
    @media (min-width: 1360px) {
      left: 0;
    }
  }
}


// alignwide
// ----------------------------------------
.alignwide, .alignfull{
  max-width: unset;
  // only full width on smaller devices
  @media (max-width: 991px){
    width: auto;
  }
  @media (max-width: 575px){
    margin-left: -15px;
    margin-right: -15px;
  }
  @media (min-width: 576px) and (max-width: 767px){
    margin-left: calc(-100vw / 2 + 540px / 2 - 15px);
    margin-right: calc(-100vw / 2 + 540px / 2 - 15px);
  }
  @media (min-width: 768px) and (max-width: 991px){
    margin-left: calc(-100vw / 2 + 720px / 2 - 15px);
    margin-right: calc(-100vw / 2 + 720px / 2 - 15px);
  }
}

// alignfull
.alignfull{
  margin-left: 0;
  margin-right: 0;
}

// left / right
// ----------------------------------------
.alignright, .alignleft{
  margin-bottom: 0;
  width: 45%;
  @media (max-width: 767px) {
    width: 100%!important;
  }
  figcaption{
    @media (max-width: 767px){
      margin-bottom: $margin-post-size_bottom;
    }
  }
}



// center
.aligncenter{
  max-width: 100%;
  figcaption{
    margin-bottom: 0;
  }
}

@media (min-width: 768px){
  .max-200 figure{
    max-width: 200px;
  }
  .max-250 figure{
    max-width: 250px;
  }
  .max-300 figure{
    max-width: 300px;
  }
  .full-50 figure{
    width: 50%;
  }
  .full-75 figure{
    width: 75%;
  }
}

// img inside li
li img{
  max-width: 100%;
  padding: 1rem 0;
}

// box-shadow
.img-shadow{
  box-shadow: 0 0 20px 2px #e3e3e3;
}
