// IMPORTANCE: This file contains only a general setting for images in posts/page template. For the one who has or has not toc on the sidebar, refer to has_sidebar.scss and hasno_sidebar.scss.


// block-iamge
// ----------------------------------------
.wp-block-image{
  margin-bottom: $margin-post-size_bottom;
  margin-top: $margin-post-size_bottom;
  img{
    max-width: unset!important;
    width: 100%;
  }
  figure{
    margin-top: 0.3rem;
  }
}
figcaption{
  font-size: 0.9rem!important;
  color: #778899!important;
  margin-top: 1rem!important;
}


// gallery
// ----------------------------------------

.wp-block-gallery{
  @media (min-width: 1360px){
    margin-left: -50px;
    margin-right: -50px;
  }
}


// media-text
// ----------------------------------------

.wp-block-media-text{
  border: 1px solid #ddd;
  @media (min-width: 768px){
    margin-bottom: $margin-post-size_bottom;
  }
  @media (max-width: 767px){
    display: inherit!important;
    margin-bottom: $margin-post-size_bottom;
  }
  &.alignwide{
    @media (max-width: 767px){
      margin-left: 0;
      margin-right: 0;
    }
  }
  .wp-block-media-text__media{
    width: 100%;
    padding: 15px;
    @media (max-width: 767px){
      padding-bottom: 0;
    }
  }
  .wp-block-media-text__content{
    padding: 15px;
    margin-right: 0;
    .has-large-font-size{
      font-size: 1rem;
    }
    p{
      font-size: 1rem;
      margin-bottom: 1rem;
      &:first-of-type{
        margin-top: 0;
      }
      &:last-of-type{
        margin-bottom: 0;
      }
    }
  }
}
.alignwide.has-media-on-the-right{
  img{
    @media (min-width: 1360px) {
      left: 0;
    }
  }
}


// alignwide
// ----------------------------------------
.alignwide, .alignfull{
  max-width: unset;
  // only full width on smaller devices
  @media (max-width: 575px){
    margin-left: -15px;
    margin-right: -15px;
  }
  @media (max-width: 991px){
    width: auto;
  }
  @media (min-width: 576px) and (max-width: 767px){
    margin-left: calc(-100vw / 2 + 540px / 2 - 15px);
    margin-right: calc(-100vw / 2 + 540px / 2 - 15px);
  }
  @media (min-width: 768px) and (max-width: 991px){
    margin-left: calc(-100vw / 2 + 720px / 2 - 15px);
    margin-right: calc(-100vw / 2 + 720px / 2 - 15px);
  }
}

// alignfull
.alignfull{
  margin-left: 0;
  margin-right: 0;
}

// left / right 
// ----------------------------------------
.alignright, .alignleft{
  margin-bottom: 0;
  width: 45%;
  @media (max-width: 767px) {
    width: 100%!important;
  }
  figcaption{
    @media (max-width: 767px){
      margin-bottom: $margin-post-size_bottom;
    }
  }
}



// center 
.aligncenter{
  figcaption{
    margin-bottom: 0;
  }
}