.layout-photo-behind{
  .item{
    background-size: cover;
    min-height: 150px;
    border-radius: 10px;
    margin-bottom: 15px;

    &:before{
      display: block;
      content: "";
      position: absolute;
      top: 0;
      right: 15px;
      bottom: 0;
      left: 15px;
      // background: #0000005e;
      border-radius: 10px;
      margin-bottom: 15px;
      background-image: linear-gradient(to top, rgba(2,9,20,1), rgba(23,23,23,0.8), rgba(70,70,70,0.31), rgba(186,186,189,0.08), rgba(255, 255, 255, 0));
      opacity: 0.8;
    }

    &:hover{
      &::before{
        opacity: 1;
      }
    }
    .item-content{
      padding: 15px 10px;

      flex-grow: 1;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-pack: justify;
      justify-content: space-between;
      .book-title{
        color: #fff;
        text-align: center;
        font-size: 0.93rem;
        text-shadow: 2px 2px 4px #000;
        line-height: 1.2;

        flex-grow: 1;
        position: relative;
        display: block;
      }
      .item-footer{
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: end;
        align-items: flex-end;
      }
    }
  }
}
