.layout-photo-title{
  .item{
    margin-bottom: 2rem;
    @media (max-width: 991px){
      margin-bottom: 1.5rem;
    }
    width: 100%;
    transition: all .5s ease;
    &:hover{
      .post-image{
        border-radius: 7px;
        img{
          transform: scale(1.1);
        }
      }
      .post-title{
        color: $a-hover;
      }
    }
  }
  div.thumb-cat{
    border-radius: 7px;
  }
  .post-image{
    height: 150px;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 7px;
      transition: transform .2s;
    }
  }
  .post-cat{
    padding: 3px 5px;
    color: #fff;
    text-align: center;
    font-size: 0.95rem;
    &:hover{
      filter: brightness(110%);
    }
  }
  .post-title{
    line-height: 1.4;
    padding: 10px 10px 5px 10px;
    text-align: center;
    font-size: 1.05rem;
    font-weight: 600;
    color: #444;
  }
  .post-date{
    text-align: center;
    opacity: 0.8;
    font-size: 0.8rem;
  }
}