.layout-1-4{
  padding: 5rem 0;
}

.layout-title{
  margin-bottom: 1rem;
  h2{
    margin-bottom: 0;
  }
  .new-title{
    font-size: 2.2rem;
    font-weight: 800;
    i{
      font-size: 4rem;
      padding-top: calc(5rem + 2px);
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 5px;
      border-radius: 0 0 7px 7px;
      color: #fff;
    }
  }
  .view-all{
    opacity: 0.8;
    letter-spacing: 2px;
    line-height: 2;
    color: #111;
    &:hover{
      opacity: 1;
    }
  }
}

.style-1-2{
  border-radius: 8px;
  background: #fff;
  padding-bottom: 15px;
  margin-top: 10px;
  margin-bottom: 10px;

  box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
  transition: box-shadow 150ms ease;
  -webkit-transition: box-shadow 150ms ease;
  &:hover{
    box-shadow: 0 10px 30px -5px rgba(10, 16, 34, .2);
  }
  
  .featured-image{
    img{
      border-radius: 8px 8px 0 0;
      width: 100%;
    }
  }

  .post-title{
    text-align: center;
    font-size: 1.6rem;
    margin-top: 1.5rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.5rem;
  }

  .post-meta{
    text-align: center;
    font-size: 0.9rem;
  }

  .post-intro{
    font-size: 1rem;
    color: #636262;
    text-align: center;
    padding: 1rem;
  }
} // style-1-2

.style-1-4{
  height: 100%;

  .col-12, .col-md-6{
    padding: 10px;
  }

  .item{
    padding: 1rem;
    height: 100%;
    border-radius: 8px;
    color: #fff;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
    transition: box-shadow 150ms ease;
    -webkit-transition: box-shadow 150ms ease;
    &:hover{
      box-shadow: 0 10px 30px -5px rgba(10, 16, 34, .2);
    }

    .post-title{
      font-size: 1.2rem;
      font-weight: bold;
      text-align: center;
    }

    .post-meta{
      margin-left: auto;
      margin-right: auto;
      font-size: 0.9rem;
      text-align: center;
      span{
        display: block;
      }
    }
  }
} // style-1-4


.sec-math{
  background: #f4f8fb;
  .style-1-4{
    .item{
      background-image: linear-gradient(to right top, #3d78b5, #2e75c4, #2672d2, #2d6cdf, #4065e9);
    }
  }
  .sec-title h2{
    color: #3d78b5;
    i{
      background: #3d78b5;
    }
  }
}

.sec-tech{
  background: #f9f1e5;
  .style-1-4{
    .item{
      background-image: linear-gradient(to right top, #de650f, #e37709, #e68806, #e99809, #eba912);
    }
  }
  .sec-title h2{
    color: #de8a0f;
    i{
      background: #de8a0f;
    }
  }
}
