.layout-tool{
  @media (max-width: 767px){
    padding: 0 20px;
  }
  .item{
    border-bottom: 1px solid #ddd;
    padding: 1.5rem 0;
    &:hover{
      h2{
        color: #FA5B0F;
      }
      .photo img{
        transform: scale(1.1);
      }
    }
    &:last-child{
      margin-bottom: 0;
      border-bottom: none;
    }
  }
  .description{
    h2{
      color: #444;
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
  .photo{
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform .2s;
    }
    @media (max-width: 767px){
      margin-bottom: 1rem;
    }
  }
  .intro{
    padding: 6px 0;
    color: #333;
    font-size: 0.9rem;
    margin-bottom: 5px;
  }
}

.label{
  margin-bottom: 5px;
  display: inline-block;
  border-color: #fafafa;
  background-color: #fafafa;
  font-size: 10px;
  padding: 4px 6px 3px 6px;
  position: relative;
  line-height: 16px;
  font-weight: 400;
  color: #777;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.11);
  border-radius: 3px;

  &.home-page{
    color: #1a67ad;
    &:hover{
      text-decoration: none;
      background-color: #edf6ff;
      box-shadow: inset 0 0 0 1px #4279ab26;
      border-color: #4279ab;
    }
  }

  &:hover{
    text-decoration: none;
  }

  &.share{
    color: #fff;
    background: #4785da;
    &:hover{
      background: #3c71b9;
    }
  }

  &.more{
    color: #fff;
    font-weight: 600;
    background: #f17f7f;
    &:hover{
      background: #e04c4c;
    }
  }
}

.pricing-free{
  color: #248a6b;
  font-weight: bold;
}

.pricing-paid{
  color: #c3532e;
  font-weight: bold;
}

.pricing-trial{
  color: #b99919;
  font-weight: bold;
}


// tool post template
.post-tool{
  padding: 3rem 0;
  position: relative;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  &:before{
    display: block;
    content: "";
    position: absolute;
    background-color: #000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
  }

  .label.platform{
    color: #404040;
    font-weight: 600;
  }
}

.related-post-tool{
  margin-bottom: $margin_extra_post;
}
