.sec-cat{
  padding: 1rem 0 3rem 0;
  border-top: 1px solid #eee;
}

.list-of-post{
  .col-xl-10{
    padding-left: 0;
    padding-right: 0;
  }
}

a.no-a-effect{
  text-decoration: none;
  color: inherit;
}

.sec-title{
  margin-bottom: 1rem;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  a{
    &:hover{
      text-decoration: none;
    }
  }

  .new-title{
    font-weight: 800;
    margin-bottom: 0;
    a{
      color: inherit;
      &:hover{
        filter: brightness(110%);
      }
    }
  }
  .view-all{
    font-style: italic;
    opacity: 0.8;
    letter-spacing: 2px;
    line-height: 2;
    color: #111;
    font-weight: bold;
    font-size: 0.9rem;
    &:hover{
      opacity: 1;
    }
    @media (max-width: 500px){
      font-size: 0.95rem;
    }
    @media (max-width: 400px){
      font-size: 0.9rem;
    }
  }
}

.sec-title-big .new-title{
  font-size: 1.6rem;
  i{
    font-size: 2.4rem;
    padding-top: calc(1rem + 3px);
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border-radius: 0 0 7px 7px;
    color: #fff;
  }
}

.sec-title-small .new-title{
  font-size: 1.6rem;
  i{
    font-size: 2rem;
    padding: 0;
    border: none;
    color: inherit;
  }
}


// sec-title-middle
.sec-title-middle{
  margin-bottom: 1rem;
  margin-top: 2rem;
  text-align: center;

  a{
    font-style: italic;
    color: inherit;
    font-style: inherit;
    &:hover{
      text-decoration: none;
    }
  }

  .new-title{
    background: #fff;
    display: inline-block;
    font-weight: bold;
    font-size: 1.6rem;
    padding: 0 1rem;
    i{
      display: none;
    }
    &+div{
      border-top: 4px solid #ccc;
      margin-top: -1.8rem;
      margin-bottom: 1.2rem;
      margin-left: auto;
      margin-right: auto;
      @media (min-width: 768px){
        width: 70%;
      }
    }
  }
  .view-all{
    display: block;
    letter-spacing: 2px;
    color: #999;
    font-weight: bold;
    font-style: italic;
    font-size: 0.9rem;
    &:hover{
      color: #222;
    }
    @media (max-width: 500px){
      font-size: 0.95rem;
    }
    @media (max-width: 400px){
      font-size: 0.9rem;
    }
  }
}

.sec-choice{ // editor's choice
  background: #fffef1;
  padding: 2rem 0 1rem 0;
  .new-title{
    color: #e4a200;
  }
}
