.layout-1-4{
  margin: 1rem 0 3rem 0;
}

.layout-title{
  margin-bottom: 1rem;
  .new-title{
    font-size: 2.5rem;
  }
  .view-all{
    line-height: 3.5rem;
  }
}

.style-1-2{
  .featured-image{
    border-radius: 5px;
    img{
      border-radius: inherit;
      width: 100%;
    }
  }

  .post-title{
    text-align: center;
    font-size: 1.6rem;
    margin-top: 1rem;
    font-weight: bold;
  }

  .post-meta{
    text-align: center;
    font-size: 0.9rem;
  }

  .post-info{
    font-size: 1rem;
    margin-top: 1rem;
    color: #aaa;
    text-align: center;
  }
}

.style-1-4{
  height: 100%;
  .item{
    background-image: linear-gradient(to right top, #3d78b5, #2e75c4, #2672d2, #2d6cdf, #4065e9);
    padding: 1rem;
    height: 100%;
    border-radius: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .post-title{
      font-size: 1.2rem;
      font-weight: bold;
      text-align: center;
    }

    .post-meta{
      margin-left: auto;
      margin-right: auto;
      font-size: 0.9rem;
    }
  }
}