.style-1-2{
  border-radius: 8px;
  background: #fff;
  margin-bottom: 1rem;
  width: 100%;

  box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
  transition: box-shadow 150ms ease;
  -webkit-transition: box-shadow 150ms ease;

  &:hover{
    box-shadow: 0 10px 30px -5px rgba(10, 16, 34, .2);
    .featured-image{
      border-radius: 8px 8px 0 0;
      img{
        transform: scale(1.1);
        border-radius: 8px 8px 0 0;
      }
    }
    .post-title{
      color: $a-hover;
    }
    .post-intro{
      color: #111;
    }
  }
  
  .featured-image{
    height: 220px;
    overflow: hidden;
    img{
      border-radius: 8px 8px 0 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform .2s;
    }
  }

  .post-title{
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.2;
    color: #444;
    padding: 1.5rem 1rem 0.5rem 1rem;
  }

  .post-meta{
    text-align: center;
    font-size: 0.9rem;
    .date{
      margin-right: 10px;
    }
    i{
      margin-right: -5px;
    }
  }

  .post-intro{
    font-size: 1rem;
    color: #444;
    text-align: center;
    padding: 1rem;
  }
} // style-1-2

.style-1-4{
  border-radius: 8px;
  color: #333;
  display: grid;
  align-items: center;
  background: #fff;
  margin-bottom: 1rem;

  box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
  &:hover{
    box-shadow: 0 0 6px 4px #e3e3e3;
    .featured-image{
      border-radius: 8px 8px 0 0;
      img{
        transform: scale(1.1);
        border-radius: 8px 8px 0 0;
      }
    }
    .post-title{
      color: #366494;
    }
  }

  a{
    height: 100%;
  }

  .featured-image{
    height: 120px;
    overflow: hidden;
    img{
      border-radius: 8px 8px 0 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform .2s;
    }
  }

  .post-title{
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem 1rem 0.5rem 1rem;
    color: #454545;
    line-height: 1.1;
  }

  .post-meta{
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9rem;
    text-align: center;
    color: #555;
    padding: 0 1rem 1rem 1rem;
    span{
      display: block;
    }
  }
} // style-1-4
