.layout-book{
  .item{
    margin: 10px 0;

    &:hover{
      .book-cover{
        box-shadow: 0 0 3px 2px #e3e3e3;
        img{
          transform: scale(1.03);
        }
      }
    }

    .book-cover{
      position: relative;
      text-align: center;
      border-radius: 10px;
      margin-bottom: 1rem;
      border: 1px solid #e6e6e6;
      background-image: linear-gradient(to right bottom, #e8e8e8, #ebebeb, #ededed, #f0f0f0, #f3f3f3);

      box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);

      img{
        margin: 0 auto;
        position: relative;
        height: 100%;
        width: 100%;
        box-shadow: 0 12px 8px -8px #828282;
        border: 1px solid #fff;

        transition: transform .2s;
        -webkit-transition: transform .2s;
      }
    }
    .book-title{
      text-align: center;
      font-weight: bold;
      font-size: 1.2rem;
      line-height: 1.3;
      margin-bottom: 5px;
      color: #444;
    }
    .book-author{
      text-align: center;
      font-size: 0.9rem;
      color: #666;
    }
    &:hover{
      .book-title{
        color: #0a7b83;
      }
    }
  }
}