.hide-on-xs{
  @media (max-width: 575px){
    display: none;
  }
}

.section-border-bottom{
  border-bottom: 1px solid #dedede;
}


.row-eq-height>[class*=col-] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}


// plugin Easy Footnotes
span.easy-footnote{
  a{
    font-weight: bold;
    color: #f54c14;
    border-bottom: none;
    box-shadow: none;
    &:hover{
      border-bottom: none;
      box-shadow: none;
    }
  }
}
.easy-footnote-title{
  h4{
    margin-bottom: $margin-post-size_bottom/2;
    font-size: 1.8rem;
    font-weight: bold;
    color: #444;
    margin-top: 3rem;
    &:before{
      content: "# ";
      color: #6293ca;
      @media (min-width: 992px){
        margin-left: -1.8rem;
      }
    }
    @media (max-width: 1199px){
      font-size: 1.65rem;
    }
    &+h3{
      margin-top: 0;
    }
  }
}

// plugin simple alert block 
.wp-block-simple-alerts-for-gutenberg-alert-boxes{
  margin-bottom: $margin-post-size_bottom;
  padding: 1.5rem;
  p, ul, ol{
    margin-bottom: $margin-post-size_bottom - 0.5rem;
  }
  p:last-of-type{
    margin-bottom: 0;
    &+ul, &+ol{
      margin-top: 1rem!important;
    }
  }
  ol:last-of-type, ul:last-of-type{
    margin-bottom: 0;
    &+p{
      margin-top: $margin-post-size_bottom - 0.5rem;
    }
  }
  p + ul, p + ol{
    margin-top: -1rem;
  }
}