.paginate-links{
  font-size: 1.5rem;
  display: inline-block;
}

.page-numbers {
  display: inline-block;
  padding: 10px 10px 8px 10px;
  background: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  color: #666;
	line-height: 1;
  text-decoration: none;
  
  &.next, &.prev{
    padding: 10px;
  }
}

.page-numbers.current,
a.page-numbers:hover {
  background: #3d78b5!important;
  border: 1px solid #3d78b5;
  color: #fff;
  text-decoration: none;
}