// gioi-thieu

.gioi-thieu{
  padding: 1rem 0 7rem 0;
  @media (max-width: 767px){
    padding: 0;
  }
}

.section{
  // padding: 0 1rem 3rem 1rem;
  margin-bottom: 2rem;
}

.style-2-3{
  background-image: linear-gradient(to bottom, #313542, #424a65, #4b6189, #476c9f, #3d78b5);
  border-top: 1px solid #5d5d5d;
  .item{
    background: #fff;
    border: #ddd solid 1px;
    border-radius: 7px;
    transition: transform .2s;
    padding: 1.5rem;
    text-align: center;
    margin: 1rem 0;
    &:hover{
      transform: scale(1.03);
      box-shadow: 0 0 3px 2px #e3e3e3;
      .post-cat{
        color: #366494;
      }
    }
  }
  .post-image{
    font-size: 2.5rem;
  }
  .post-cat{
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  .post-intro{
    text-align: center;
    font-size: 0.9rem;
  }

  .container{
    padding: 1rem 0;
    @media (min-width: 768px){
      position: relative;
      top: -3rem;
      padding: 0;
      height: 600px;
    }
    @media (min-width: 992px){
      height: 500px;
    }
  }
}

.community{
  padding: 2rem 1rem 0 1rem;
  .des{
    @media (max-width: 575px){
      text-align: center;
      margin-bottom: 1rem;
    }
    p{
      font-size: 0.95rem;
    }
  }
  h2{
    font-size: 1.4rem;
    color: #e4556e;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  a{
    font-weight: bold;
    color: #2173cc;
    &:hover{
      text-decoration: none;
      color: #007bff;
    }
  }
  .photo{
    img{
      width: 100%;
      height: 100%;
    }
  }
}


.newsletter{
  display: none!important;
  // @media (min-width: 576px){
  //   display: flex;
  //   display: -ms-flexbox;
  // }
  border: 1px solid #ddd;
  background: #eee;
  padding: 1.5rem;
  border-radius: 10px;
  align-items: center;
  margin: 2rem 0;
  .photo{
    max-width: 180px;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 768px){
      max-width: 250px;
    }
    img{
      width: 100%;
      height: 100%;
    }
  }
  .form{
    flex: 1;
    text-align: center;
    padding: 1rem;
    .newsletter-text{
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }
    .newsletter-form{
      .email{
        border: 0;
        border-radius: 6px;
        background: #fff;
        color: #000;
        font-size: 0.9rem;
        padding: 0.5rem;
        width: calc(100% - 70px);
        outline: none;
      }
      .submit{
        padding: 0.45rem 0.55rem 0.45rem 0.45rem;
        border-radius: 5px 50% 50% 5px;
        border: 0;
        font-size: 0.9rem;
        background: #2bacaf;
        color: #fff;
        font-weight: bold;
        text-align: center;
      }
    }
  }
}


// contact
#contact{
  // padding-top: 1rem;
  .title{
    text-align: center;
    margin-bottom: 0.5rem;
    color: #4a7edc;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .email{
    text-align: center;
    a{
      font-size: 1rem;
      color: #333;
      &:hover{
        color: #000;
        text-decoration: none;
      }
    }
  }
}

// general page
.header-page{
  padding: 2.5rem 1rem;
}

.page-title{
  text-align: center;
  color: #fff;
  font-size: 1.8rem;
  text-shadow: 2px 2px 4px #000;
  font-weight: bold;
  line-height: 1.4;
}

.page-subtitle{
  color: #c6efde;
  text-align: center;
  font-size: 0.95rem;
  padding-top: 0.25rem;
  line-height: 1.5;
  @media (max-width: 575px){
    font-size: 1rem;
  }
}


// author.php
.author-avatar{
  margin: 0 auto 1rem auto;
  text-align: center;
  width: 120px;
  // height: 120px;
  overflow: hidden;
  img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}
