// header title
.page-subtitle{
  span{
    margin-right: 0.5rem;
    i{
      margin-right: -0.25rem;
    }
  }
  a{
    color: inherit;
    &:hover{
      text-decoration: none;
      border-bottom: 4px solid;
    }
  }
}


.blog-content{
  @media (min-width: 1200px){
    font-size: 1.1rem;
  }
  p{
    margin-bottom: 2rem;
  }
  h2, h3{
    margin-bottom: 2rem;
  }
  h2{
    font-size: 1.8rem;
    font-weight: bold;
    color: #444;
    &:before{
      content: "# ";
      color: #82a7d0;
      @media (min-width: 850px){
        margin-left: -1.8rem;
      }
    }
    @media (max-width: 1199px){
      font-size: 1.65rem;
    }
  }
  h3{
    font-size: 1.5rem;
    color: #444;
    font-weight: bold;
    &:before{
      content: "## ";
      color: #d2a26e;
      @media (min-width: 850px){
        margin-left: -2.4rem;
      }
    }
    @media (max-width: 1199px){
      font-size: 1.4rem;
    }
  }
}


