// header title
.page-subtitle{
  span{
    margin-right: 0.5rem;
    i{
      margin-right: -0.25rem;
    }
  }
  a{
    color: inherit;
    &:hover{
      text-decoration: none;
      border-bottom: 4px solid;
    }
  }
}


.blog-content{
  p{
    margin-bottom: $margin-post-size_bottom;
  }
  h2, h3{
    margin-bottom: $margin-post-size_bottom;
  }
  h2{
    margin-top: $margin-post-size_bottom + 1rem;
  }
  p + h2{
    margin-top: 3rem!important;
  }
  h2{
    font-size: 1.8rem;
    font-weight: bold;
    color: #444;
    margin-top: 3rem;
    &:first-of-type{
      margin-top: 0;
    }
    &:before{
      content: "# ";
      color: #6293ca;
      @media (min-width: 992px){
        margin-left: -1.8rem;
      }
    }
    @media (max-width: 1199px){
      font-size: 1.65rem;
    }
    &+h3{
      margin-top: 0;
    }
  }
  h3{
    font-size: 1.5rem;
    color: #444;
    font-weight: bold;
    margin-top: 2.5rem;
    &:before{
      content: "## ";
      color: #d87638;
      @media (min-width: 992px){
        margin-left: -2.4rem;
      }
    }
    @media (max-width: 1199px){
      font-size: 1.4rem;
    }
  }
  a{
    text-decoration: none;
    color: #236eb1;
    font-weight: inherit;
    &:hover{
      text-decoration: none;
      color: #c7164c;
    }
  }

  // list
  ul{
    margin-bottom: $margin-post-size_bottom;
    li{
      margin-bottom: 6px;
      ul{
        margin-top: 6px;
        margin-bottom: 0;
      }
    }
  }
  ol{
    margin-bottom: $margin-post-size_bottom;
    li{
      margin-bottom: 6px;
      ol{
        margin-top: 6px;
        margin-bottom: 0;
      }
    }
  }

  // blockquote
  .wp-block-quote{
    border-left: 4px solid #444;
    padding-left: 1em;
    margin-bottom: $margin-post-size_bottom;
    p{
      margin-bottom: 0.5rem;
    }
    cite{
      font-size: 0.9rem;
      color: #666;
      &:before{
        content: "- ";
      }
    }
  }

  // pullquote
  .wp-block-pullquote{
    margin-bottom: $margin-post-size_bottom;
    border-top: 4px solid #555d66;
    border-bottom: 4px solid #555d66;
    color: #333;
    padding: 2rem 15px;
    @media (min-width: 992px){
      padding: 2rem 0;
    }
    blockquote{
      margin-bottom: 0;
      p{
        font-size: 120%;
        &:last-of-type{
          margin-bottom: 0;
        }
      }
      cite{
        font-size: 1rem;
        color: #666;
        &:before{
          content: "- ";
        }
        &:after{
          content: " -";
        }
      }
    }
  }

  // table
  table{
    margin-bottom: $margin-post-size_bottom;
  }

  //code
  .wp-block-code{
    margin-bottom: $margin-post-size_bottom;
  }

  p > code, li > code{
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background: #eaeaea;
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding: 2px 4px;
    border-radius: .2rem;
    color: #da4596;
    font-size: 90%;
  }

  .toolbar{
    span, a{
      padding: 2px 5px!important;
      border-radius: 3px!important;
      margin-right: 5px;
      border-bottom: initial;
    }
    span:hover{
      color: #bbb!important;
    }
    a:hover{
      color: #ffff00!important;
      border-bottom: initial!important;
    }
  }

  .code-toolbar{
    margin-bottom: $margin-post-size_bottom;
  }

  // facebook
  .wp-block-embed-facebook{
    .wp-block-embed__wrapper:before{
      padding-top: 0;
    }
    .fb_iframe_widget{
      width: 100%;
      span{
        width: 100%!important;
      }
      iframe{
        width: 100%!important;
      }
    }
  }

  // columns
  .wp-block-columns{
    align-items: center;
    margin-bottom: $margin-post-size_bottom;
    @media (min-width: 768px){
      flex-wrap: nowrap;
    }
    @media (max-width: 767px){
      border: 1px solid #ddd;
      &.alignwide{
        margin-left: 0;
        margin-right: 0;
      }
    }
    .wp-block-column{
      padding: 0 15px 0 0;
      margin-bottom: 0;
      &:not(:last-child){
        margin-right: 0;
      }
      &:not(:first-child){
        margin-left: 0;
      }
      @media (max-width: 767px){
        flex-basis: auto;
        width: 100%;
        margin-left: 0;
        padding-top: 15px;
        padding-left: 15px;
        &:last-child{
          padding-bottom: 15px;
        }
      }
      @media (min-width: 768px){
        &:last-child{
          padding-right: 0;
        }
      }
      p:last-of-type{
        margin-bottom: 0;
      }
      .code-toolbar{
        margin-bottom: 0;
      }
    }
    .wp-block-image{
      margin-bottom: 0;
      margin-top: 0;
    }
    .wp-block-code{
      margin-bottom: 0;
    }
  }

  // table 
  .wp-block-table{
    margin-bottom: $margin-post-size_bottom;
    &.alignwide{
      @media (max-width: 991px){
        margin-left: 0;
        margin-right: 0;
      }
      @media (min-width: 992px) and (max-width: 1199px){
        width: calc(100% + 100px)
      }
    }
    &.alignfull{
      width: 100%;
    }
    // copied from .table 
    width: 100%;
    td, th{
      padding: .75rem;
      vertical-align: top;
      border-top: 1px solid #dee2e6;
    }
  }

  // author-box
  .author-box{
    background-color: #fbf9ea;
    border: 1px solid #e4deb5;
    color: #444;
    box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06), 1px 3px 8px rgba(39, 44, 49, 0.03);
    border-radius: 5px;
    padding: 3%;
    margin-bottom: $margin_extra_post;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    align-items: center;
    .author-avatar{
      -ms-flex: 1 0 0px;
      flex: 1 0 0;
      img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .author-info{
      padding: 0 15px;
      -ms-flex: 3 0 0px;
      flex: 4 0 0;
      .author-name{
        font-weight: bold;
        color: #3d73bb;
        font-size: 1.4rem;
        text-transform: capitalize;
      }
      .author-role{
        opacity: 0.8;
        font-size: 0.95rem;
        font-style: italic;
      }
      .author-description{
        margin-top: 0.5rem;
        border-top: 1px solid #ddd;
        padding-top: 0.5rem;
        font-size: 1rem;
      }
      .author-more{
        font-size: 0.95rem;
        margin-top: 0.5rem;
        border-top: 1px solid #ddd;
        padding-top: 0.5rem;
        a{
          border-bottom: 0;
          box-shadow: none;
          margin-right: 10px;
          opacity: 0.8;
          &:hover{
            color: #2c926e;
            opacity: 1;
          }
          &.author-post{
            color: #bf3378;
            &:hover{
              color: #2c926e;
            }
          }
        }
      }
      @media (max-width: 991px){
        .author-name{font-size: 1.3rem;}
        .author-role, .author-more{font-size: 0.9rem;}
        .author-description{font-size: 0.95rem;}
      }
    }
    &.alignwide{
      @media (max-width: 575px){
        margin-left: 0;
        margin-right: 0;
      }
      @media (min-width: 576px) and (max-width: 767px){
        margin-left: calc(-100vw / 2 + 540px / 2);
        margin-right: calc(-100vw / 2 + 540px / 2);
      }
      @media (min-width: 768px) and (max-width: 991px){
        margin-left: calc(-100vw / 2 + 720px / 2);
        margin-right: calc(-100vw / 2 + 720px / 2);
      }
      // full width in smaller devices
      @media (min-width: 992px) and (max-width: 1199px){
        margin-left: calc(-100vw / 2 + 800px / 2);
        margin-right: calc(-100vw / 2 + 800px / 2);
      }
    }
    @media (max-width: 575px){
      .author-avatar{
        flex: auto;
        max-width: 180px;
      }
      .author-info{
        flex: auto;
        text-align: center;
        margin-top: 1rem;
      }
    }
  }

} // blog-content


// related post
.related-post{
  margin-bottom: $margin_extra_post;
  padding: 0 15px;
  .sec-title-middle{
    margin-top: 0!important;
  }
  .new-title{
    font-size: 1.9rem!important;
    color: #666;
    @media (max-width: 577px){
      font-size: 1.5rem!important;
    }
  }
  @media (min-width: 992px){
    .layout-photo-title .item{
      margin-bottom: 0;
    }
  }
}


// comments
.comment-section{
  margin-bottom: $margin_extra_post;
  #show-comments{
    font-size: 1.3rem;
    padding: 0.5rem;
  }
  .btn{
    border-radius: 100px;
  }
}


// sharing buttons
.sharing-buttons{
  margin-bottom: $margin_extra_post;
  .flex-fill{
    padding: 0 5px;
  }
  .item{
    background: #272c30;
    color: #fff;
    text-align: center;
    padding: 10px 15px;
    line-height: 1;
    border-radius: 100px;
    &:hover{
      background: #0d519a;
    }
    svg{
      margin-right: 5px;
    }
  }
}

div.extra-info{
  margin-top: 1rem;
}

// tags
.tags{
  text-align: center;
  margin-bottom: calc(3rem - 10px);
  a{
    border: 1px solid #ddd;
    padding: 3px 7px;
    font-size: 0.85rem;
    background: #eee;
    color: #777;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 10px;
    border-radius: 1px;
    &:hover{
      text-decoration: none;
      // background: #e4e4e4;
      color: #444;
    }
  }
}

// subscribe-bar
.subscribe-bar{
  background: #e8e8e8;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  @media (max-width: 500px){
    padding-bottom: 15px;
  }
  .form{
    @media(min-width: 501px){
      display: flex;
      justify-content: center;
      align-items: center;
      .newsletter-text{
        margin-right: 10px;
      }
    }
    @media (max-width: 500px){
      text-align: center;
      .newsletter-text{
        margin-bottom: 5px;
      }
      .newsletter-form{
        input.email{
          width: calc(100% - 38px);
        }
        input.submit{
          width: 33px;
        }
      }
    }
    .newsletter-form{
      input.email{
        border-radius: 5px;
        border: 1px solid #e0dfdf;
        padding: 5px 10px;
        font-size: 0.9rem;
      }
      input.submit{
        border-radius: 5px;
        padding: 4px 5px;
        font-size: 0.9rem;
        border: 0;
        font-weight: bold;
        color: #fff;
        background: #999;
        &:hover{
          cursor: pointer;
          background: #777;
        }
      }
    }
  }
}


// mathjax
@media (min-width: 768px){
  .MathJax_SVG_Display{
    overflow: hidden!important;
  }
}