h4.page-subtitle{
  span{
    margin-right: 0.5rem;
    i{
      margin-right: -0.25rem;
    }
  }
  a{
    color: inherit;
    &:hover{
      text-decoration: none;
      border-bottom: 4px solid;
    }
  }
}

.toc-sidebar{
  width: 220px;
  margin-right: -220px;
  .sticky-top{
    top: 1rem;
    border-left: 1px solid #ddd;
    padding: 10px 0;
    div{
      font-size: 0.95rem;
      font-weight: 600;
      padding: 0 10px;
    }
  }
  @media (min-width: 1250px){
    width: 250px;
  }
  @media (max-width: 1199px){
    display: none;
  }
}