h2.search-title{
  font-weight: 700;
  font-size: 1.25rem;
  border-bottom: 2px solid #bbb;
  padding-bottom: 0.5rem;
  margin-bottom: $margin-post-size_bottom;
  .default_query{
    color: #FA5B0F;
  }
  .keyword_quey{
    color: #0094CC;
  }
}

.result-list{
  .item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 1rem 0;
    &:last-child{
      border-bottom: none;
    }
    &:first-child{
      padding-top: 0;
    }
    .meta{
      font-size: 0.7rem;
      a{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.6rem;
        &:hover{
          text-decoration: none;
          color: #FA5B0F;
        }
      }
      .dot{
        font-size: 1.2rem;
        color: #bbb;
      }
    }
    .title{
      font-size: 1.1rem;
      font-weight: 600;
      margin: 5px 0;
    }
    .excerpt{
      color: #525252;
      font-size: 0.85rem;
    }
    a.title-excerpt{
      text-decoration: none;
      .title{
        color: #222;
      }
      &:hover{
        .title{
          color: #FA5B0F;
        }
        .excerpt{
          color: #111;
        }
      }
    }
    .content{
      width: calc(100% - 200px);
      padding-right: 15px;
    }
    .photo{
      width: 200px;
      overflow: hidden;
      border-radius: 5px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform .2s;
      }
    }
    &:hover{
      .photo img{
        transform: scale(1.1);
      }
    }
    @media (max-width: 799px){
      .content{
        padding-right: 0;
        width: 100%;
      }
      .photo{
        display: none;
      }
    }
  } // item
}
