.intro-page{
  margin: 5rem 0;
  .photo{
    img{
      width: 100%;
      height: 100%;
    }
  }
  .title{
    font-weight: 700;
    color: #444;
    a{
      color: inherit;
      text-decoration: none;
    }
  }
  .description{
    font-size: 1.1rem;
  }
}